
<%- include('partials/header');%>

    <div class="container">
        <p>El objetivo de esta aplicación es centralizar los instrumentos pedagógicos o actividades lúdicas que utilizan los docentes en diferentes cursos. Esto permitirá que un docente pueda consultar un instrumento ya creado para incorporarlo en sus clases o diseñar un instrumento nuevo para un temática en particular.</p>
    </div>

<%- include('partials/footer');%>

