<%- include('partials/header');%>
<div class="container">
    <div class="row">
        <!-- FORULARIO NUEVA CATEGORIA -->
        <div class="col-md-5">
            <h2>Nueva Categoria</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/guardarCategoria" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre de la categoria" class="form-control" required>
                        </div>                                                                       
                        <!--<button type="submit" class="btn btn-primary btn-block">Crear instrumento</button>-->
                        <input type="submit" value="Crear Categoria" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
        <!-- FORULARIO NUEVA CATEGORIA -->
        <!-- LISTA DE CATEGORIAS -->
        <div class="col-md-7">
            <h2>Categorias creadas</h2>           
            <table class="table table-bordered table-hover">                        
                <thead>
                    <tr>
                        <th>
                            N°
                        </th>
                        <th>
                            Nombre de la categoria
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < categorias.length; i++){ %>
                    <tr>
                        <th>
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= categorias[i].nombre%>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <!-- LISTA DE CATEGORIAS -->
    </div>
</div>
<%- include('partials/footer');%>